@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sail&family=Trade+Winds&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

header {
  width: 100% !important;
  height: none !important;
  position: fixed;
}

.navbar-brand {
  font-family: "Sail";
}

.section-un-bienvenu {
  color: yellow;
}

.section {
  width: 100vw !important;
  height: 80vh !important;
  background-color: none !important;
  font-weight: none !important;
  background-image: none !important;
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  font-size: none !important;
  font-weight: bold;
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  padding: 0 2vw;
}

.font-w {
  font-weight: 400 !important;
}

.nav-background {
  background-color: none !important;
  font-weight: bold !important;
  background-image: none !important;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
}
.nav-background__logo {
  position: absolute;
  color: #505050;
  display: inline-block;
  font-size: 2rem;
  padding: 0;
  font-family: "Lobster";
}

.material-icons {
  font-size: 0.8rem !important;
}

.co6 {
  width: 30%;
}

.section-deux__div1 {
  background-color: #f6f5f0e5;
  width: 100% !important;
  height: auto !important;
  border-radius: 20px;
}
.section-deux__para {
  width: 100% !important;
  height: auto !important;
  color: #584f43 !important;
  font-size: none !important;
  font-weight: none;
  font-family: "Open Sans";
  font-size: 1.2rem !important;
  text-align: justify;
  padding-bottom: 2%;
}
.section-deux__para--link {
  color: #44351f;
}
.section-deux__illustration {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  padding-bottom: 3%;
}

@media (max-width: 700px) {
  .section-deux__div1 {
    background-color: #f6f5f0e5;
    width: 80% !important;
    height: auto !important;
    border-radius: 20px;
  }
}
@media (max-width: 700px) {
  .section-deux__para {
    width: 80% !important;
    height: auto !important;
    color: #584f43 !important;
    font-size: none !important;
    font-weight: none;
    font-family: "Open Sans";
    font-size: 1rem !important;
    text-align: justify;
    margin: 10% 0 0 10%;
  }
}
.fab {
  font-size: 3rem;
}

.fa-html5 {
  color: #161616;
}

.fa-css3 {
  color: #161616;
}

.fa-js {
  color: #161616;
}

.fa-sass {
  color: #161616;
}

.section-trois {
  width: 100vw !important;
  height: auto !important;
}
.section-trois .section-trois__div-global {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100% !important;
  height: auto !important;
}
.section-trois .section-trois__div-global .div-global__div1 {
  width: 100% !important;
  height: auto !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4vh 0;
}
.section-trois .section-trois__div-global .div-global__div1 .div1__titre {
  width: 30% !important;
  height: 100% !important;
}
.section-trois .section-trois__div-global .div-global__div1 .div1__img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px;
}
.section-trois .section-trois__div-global .div-global__div1 .div1__text {
  width: 50% !important;
  height: 100% !important;
  border-radius: 10px;
  padding-left: 1rem;
  padding-bottom: 2rem;
  color: #584f43;
  background-color: #f6f5f0e5 !important;
  font-weight: bold !important;
  background-image: none !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  background-color: #161616;
  padding-top: 2%;
}

.section-quatre__illustration {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  padding-bottom: 1% !important;
}
.section-quatre__illustration a {
  font-size: 2rem;
}

.fa-contact {
  color: #afafaf;
}

.copy-right {
  color: #afafaf;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5%;
}

.contacts-titre {
  color: #afafaf !important;
}

h2 {
  padding-top: 5%;
  text-align: center;
  color: #505050 !important;
  font-size: none !important;
  font-weight: bold;
  font-family: "Open Sans";
}

h3 {
  text-align: center;
  color: #505050 !important;
  font-size: none !important;
  font-weight: bold;
  font-family: "Open Sans";
  font-size: 2rem !important;
}

/*# sourceMappingURL=style.css.map */
