@charset "UTF-8";





// mixin
@import "components/mising.scss";
// section
@import "components/section-un.scss";
@import "components/section-deux.scss";
@import "components/section-trois.scss";
@import "components/section-quatre.scss";



// Color
 @import "components/color-variables";
@import "components/color-classes";
// *
// {
//     margin: 0;
//     padding: 0;
// }

// Variables;
@import "components/variables";

// Reset
// @import "components/normalize";


// components
@import "components/global";
// @import "components/badges";
@import "components/navbar";
@import "components/typography";

// @import "components/forms/forms";


h2
  {
    padding-top: 5%;
    text-align: center;
    @include coulor-font(rgb(80, 80, 80),none,bold,"Open Sans");
  }
h3
  {
    text-align: center;
    @include coulor-font(rgb(80, 80, 80),none,bold,"Open Sans");
    font-size: 2rem !important;
  }




