.section-deux {
  padding: 5% 0% 0 10%;
  &__div1 {
    background-color: #f6f5f0e5;
    @include width-height-img(70%, auto);
    border-radius: 20px;
  }
  &__para {
    @include width-height-img(65%, auto);
    @include coulor-font(#584f43, none, none, "Open Sans");
    font-size: 1.3rem !important;
    text-align: justify;
    margin: 5% 0 0 10%;

    &--link {
      color: #44351f;
    }
  }
  &__img {
    @include position(absolute);
    border-radius: 90px;
    @include width-height-img(20%, auto);
    margin-left: 55%;
    margin-top: -15%;
  }
  &__illustration {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 3%;
  }
}
// .img
// {
//   @include width-height-img(10%,auto);
// }

.fab {
  font-size: 3rem;
}

.fa-html5 {
  color: red;
}
.fa-css3 {
  color: blue;
}

.fa-js {
  color: yellow;
}
.fa-sass {
  color: #d0359b;
}
