.section-deux {
  // padding: 5% 0% 0 5%;
  &__div1 {
    background-color: #f6f5f0e5;
    @include width-height-img(100%, auto);
    border-radius: 20px;
  }
  &__para {
    @include width-height-img(100%, auto);
    @include coulor-font(#584f43, none, none, "Open Sans");
    font-size: 1.2rem !important;
    text-align: justify;
    // margin: 10% 0 0 10%;
    padding-bottom: 2%;

    &--link {
      color: #44351f;
    }
  }

  &__illustration {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 3%;
  }
}

@media (max-width:700px)
{
  .section-deux__div1 {
    background-color: #f6f5f0e5;
    @include width-height-img(80%, auto);
    border-radius: 20px;
  }
 }
@media (max-width:700px)
 {
  .section-deux__para {
    @include width-height-img(80%, auto);
    @include coulor-font(#584f43, none, none, "Open Sans");
    font-size: 1rem !important;
    text-align: justify;
    margin: 10% 0 0 10%;
  }
 }
 
.fab {
  font-size: 3rem;
}

.fa-html5 {
  color: #161616;
}
.fa-css3 {
  color: #161616;
}

.fa-js {
  color: #161616;
}
.fa-sass {
  color: #161616;
}

